LIVE_TEST_AUTH_BASE=changethis
LIVE_TEST_ADMIN_EMAIL=changethis
LIVE_TEST_ADMIN_PASSWORD=changethis
LIVE_TEST_SVC_BASE=changethis
LIVE_TEST_SVC_BASES=changethis
LIVE_TEST_DEFAULT_SVC=changethis
LIVE_TEST_TIMEOUT=changethis
LIVE_TEST_REPO_ROOT=changethis
LIVE_TEST_DEPLOYMENT_ROOT=changethis
LIVE_TEST_PUBLIC_BASE=changethis
LIVE_TEST_PUBLIC_TLS_VERIFY=changethis
LIVE_TEST_PRIVATE_API_SECRET=changethis
LIVE_TEST_REFRESH_SECRET_KEY=changethis
